.header {
  margin-bottom: 0;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header-name {
  text-shadow: none;
  background-image: none;
  display: inline;
}

.header-name-h1 {
  font-size: 40px;
  font-weight: 700;
  animation: moveInLeft 1s ease-out;
  text-align: center;
  /*animation-fill-mode: backwards;*/
}

.list-links {
  float: right;
  display: inline;
  animation: moveInRight 1s ease-out;
  /*animation-fill-mode: backwards;*/
}

.list-link {
  text-shadow: "none";
  margin: "15px";
}

.list-links li {
  display: inline-block;
  margin-right: 1rem;
}

.list-link-li a:link,
.list-link-li a:visited {
}
