.image-box {
  display: block;
  position: relative;
  margin: 2.5rem auto;
}

.image-box:first-child {
  /* Distance from header */
  margin: 2.5rem auto;
}

.image-caption {
  position: absolute;
  color: #fff;
  bottom: 10px;
  left: 10px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  /*overflow: hidden;*/
}

.image img {
  flex-shrink: 0;
  max-width: 100vh;
  max-height: 95vh;
}
