.image-box {
  display: block;
  position: relative;
  margin: 2.5rem auto;
}

.image-box:first-child {
  /* Distance from header */
  margin: 2.5rem auto;
}

.image-caption {
  position: absolute;
  color: #fff;
  bottom: 10px;
  left: 10px;
}

.image {
  position: relative;
  display: block;
  max-height: 95vh;
  max-width: 100vh;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

figure {
  margin: auto;
  text-align: center;
}

img {
  margin: auto;
  margin-bottom: 0px;
  display: block;
  margin: 0 auto;
}
