.image-box {
  position: relative;
  margin: 3.5rem auto;
  max-height: 95vh;
  max-width: 95vh;
  width: auto;
  height: auto;
  .image {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;

    figure {
      margin: auto;
      text-align: center;
      img {
        margin: auto;

        margin-bottom: 0px;

        display: block;
        margin: 0 auto;
      }
    }
  }
  .image-caption {
    position: absolute;
    color: #fff;
    bottom: 10px;
    left: 10px;
  }
}
